/* checkbox aceite de termos */
.accept-terms {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* container da página de registro */
.registration-page {
  display: grid;
  place-items: center;
}

/* container do formulário de registro */
.register_container {
  display: grid;
  gap: 20px;
  grid-auto-flow: column;
  margin: 44px 0 46px;
}

/* container do formulário de registro */
.register_container-box_register {
  background-color: var(--white-50);
  border: 1px solid var(--catskill-white-100);
  border-radius: 5px;
  height: 1036px;
  padding: 28px 33px 27px;
  width: 617px;
}

/* formulário de registro */
.register-form {
  display: grid;
  gap: 20px;
}

/* botão de registro */
.register_container-box_register-button {
  display: grid;
  margin-top: 10px;
  place-items: center;
  width: 100%;
}

/* UserTerms */
.user_terms {
  align-items: center;
  display: flex;
  height: 40px;
}
/* checkbox */
.checkbox {
  border: 1.6666px solid var(--rose-600);
  border-radius: 30%;
  display: inline-block;
  height: 16px;
  margin-right: 12.46px;
  width: 16px;
}
/* checkbox checado */
.checkbox:checked {
  background-color: var(--rose-600);
}
/* título do formulário de registro de site */
.website_register-titles--title {
  color: var(--shark-950);
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  margin: 0px 0 15px;
}
