/* checkbox aceite de termos */
.accept-terms {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* container da página de registro */
.registration-page {
  display: grid;
  place-items: center;
}
