/* checkbox aceite de termos */
.accept-terms {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* container da página de registro */
.registration-page {
  display: grid;
  place-items: center;
}

/* container do formulário de registro */
.register_container {
  display: grid;
  gap: 20px;
  grid-auto-flow: column;
  margin: 44px 0 46px;
}

/* container do formulário de registro */
.register_container-box_register {
  background-color: var(--white-50);
  border: 1px solid var(--catskill-white-100);
  border-radius: 5px;
  height: 1036px;
  padding: 28px 33px 27px;
  width: 617px;
}

/* formulário de registro */
.register-form {
  display: grid;
  gap: 20px;
}
