/* Estilizações de botão */
button {
    display: grid;
    place-items: center;
    font-weight: 400;
}
/* call-to-action */
.cta {
    background-color: --cta-pink;
    border-radius: 5px;
    color: --primary-white;
    text-transform: uppercase;
}
/* ghost */
.ghost {
    border: 1px solid --primary-black;
    border-radius: 5px;
    color: --primary-black;
}