/* Estilizações de botão */
button {
  cursor: pointer;
  display: grid;
  font-weight: 400;
  place-items: center;
}
/* call-to-action */
.cta {
  background-color: var(--rose-600);
  border-radius: 5px;
  color: var(--white-50);
  text-transform: uppercase;
}
/* ghost */
.ghost {
  border: 1px solid var(--black-950);
  border-radius: 5px;
  color: var(--black-950);
}
