/* títulos de seções */
h5 {
  color: var(--black-500);
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  margin: 20px 0 10px;
}

/*container do botão de contratar */
.button_container {
  display: flex;
  justify-content: center;
}

/* coluna de planos */
.plan_column {
  background-color: var(--white-50);
  height: max-content;
  padding: 40px;
  width: 348px;
  overflow: hidden;
}

/* indicação do plano */
.plan_indication {
  border-color: var(--silver-divider);
  border-style: solid;
  border-width: 1px 0;
  height: 82px;
  margin: 20px 0;
  padding: 20px 0;
  width: 265px;
}

/* texto da indicação do plano */
.plan_indication--text {
  color: var(--black-500);
  font-size: 17px;
  line-height: 21px;
  text-align: center;
}

/* item do plano */
.plan_item {
  color: var(--black-500);
  font-size: 17px;
  line-height: 21px;
  padding-top: 10px;
  width: 250px;
}

/* marcador do item do plano */
.plan_item::before {
  color: var(--black-500);
  content: url("../../../assets/icons/ticksquare.svg");
  display: inline-block;
  height: 24px;
  margin-right: 1px;
  width: 24px;
}

/* caixa do preço do plano */
.plan_price_box {
  display: grid;
  place-items: center;
}

/* Preço do plano */
.plan-price {
  color: var(--rose-600);
  font-size: 34px;
  font-weight: 700;
  height: 43px;
  line-height: 43px;
  margin: 21px 0 13px 0;
  text-align: center;
}

/* R$ do preço do plano */
.plan-price::before {
  bottom: 5px;
  content: "R$";
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  margin: 2px;
  position: relative;
}
/* mês do preço do plano */
.plan-price::after {
  bottom: 5px;
  content: "/mês";
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  margin: 2px;
  position: relative;
}

/* Estilo do plano grátis - sem R$ e /mês */
.plan-free {
  color: var(--rose-600);
  font-size: 34px;
  font-weight: 700;
  line-height: 43px;
  margin: 21px 0 13px 0;
  text-align: center;
}

/* Descrição do plano */
.plan-short-description {
  color: var(--black-500);
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

/* Título do do plano */
.plan_title {
  color: var(--black-500);
  font-size: 26px;
  font-weight: 700;
  line-height: 33px;
  text-align: center;
}

/* highlight de items e títulos do plano */
.title_highlight,
.plan_item--highlighted {
  text-decoration: underline;
}
