/* container de planos */
.plans_columns {
  display: grid;
  gap: 0 25px;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  margin-bottom: 66px;
  justify-items: center;
}

/* planos */
.container_plans {
  display: grid;
  margin-top: 15px;
  place-items: center;
}

/* estilo do botão "melhor plano" */
.best_plan {
  align-items: center;
  background: var(--green-600);
  border-radius: 10px;
  display: flex;
  height: 33px;
  justify-content: center;
  position: relative;
  top: 20px;
  width: 139px;
}

/* texto do botão "melhor plano" */
.best_plan--text {
  color: var(--white-50);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
