/* estiliza caso a tela seja menor que 750px */
@media (max-width: 750px) {
  /* reposiciona o botão "mais usado" */
  .best_plan {
    position: relative;
    top: 1360px;
  }
  /* muda o flow do grid de coluna para linha */
  .plans_columns {
    gap: 25px 0;
    grid-auto-flow: row;
    grid-template-columns: none;
  }
}
