/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property

The "symbol *" part is to solve Firefox SVG sprite bug
*/
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol)) {
  all: unset;
  display: revert;
}
/* Valor preferido para o box-sizing */
*,
*::before,
::after {
  box-sizing: border-box;
}
/* Reaplicar o cursor pointer para as tags de âncora */
a {
  cursor: revert;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* Remover estilos de lista (marcadores/números) */
ol,
ul,
menu {
  list-style: none;
}
/* Para que as imagens não ultrapassem o tamanho do seu container */
img {
  max-width: 100%;
}
/*Remover espaçamento entre as células em tabelas */
table {
  border-collapse: collapse;
}
/* Reverter a propriedade 'white-space' para elementos 'textarea' no Safari */
textarea {
  white-space: revert;
}
/* Corrigir o atributo 'hidden'.
display:revert; volta a exibir o elemento em vez de manter como atributo */
:where([hidden]) {
  display: none;
}
/* Reverter o bug em navegadores Chromium
corrige o atributo contenteditable para funcionar corretamente. */
:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  /* -webkit-line-break: after-white-space; */
}
/* Aplicar novamente a propriedade draggable - existente apenas em Chromium e Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}
