/* cabeçalho */
.container__header {
  display: grid;
  margin-top: 60px;
  place-items: center;
}

/* logo da tela de planos */
.container__logo-plans {
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  width: 100vw;
}
